<a href="https://colab.research.google.com/github/Leigh-Hermosura/CPE-103-OOP-1-A/blob/main/Literals_Operators_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

In [ ]:
value = 5
print(value)
type(value)

5

int

In [ ]:
value = 5.0
print(value)
type(value)

5.0

float

In [ ]:
value = 2-3j
print(value, type(value), "\n")

value = 'Hello World'
print(value, type(value), "\n")

value = "Hello World"
print(value, type(value), "\n")

value = True
print(value, type(value), "\n")

value = False
print(value, type(value), "\n")

value = [1, 2, 3, 4, 5]
print(value, type(value), "\n")

value = (1, 2, 3, 4, 5)
print(value, type(value), "\n")

value = { 'name' : 'Your_name' }
print(value, type(value), "\n")

value = None
print(value, type(value))

(2+3j) <class 'complex'>

Hello World <class 'str'>

Hello World <class 'str'>

True <class 'bool'>

False <class 'bool'>

[1, 2, 3, 4, 5] <class 'list'>

(1, 2, 3, 4, 5) <class 'tuple'>

{'name': 'Your_name'} <class 'dict'>

None <class 'NoneType'>

Performing Operations with Python

In [ ]:
#Addition
value, value2 = 5, -6
print(value + value2)

value, value2 = 5.0, 6
print(value + value2)

value, value2 = -5, 6.1
print(value + value2)

value, value2 = "Hello ", 'World'
print(value + value2)

value, value2 = [1, 2, 3], [4, 5, 6]
print(value + value2)

value, value2 = (1, 2, 3), (4, 5, 6)
print(value + value2)

value, value2 = { "name" : "Royce" }, { "age" : 2 }
print(value + value2)


#Subtraction
value, value2 = 5, -6
print(value - value2)

value, value2 = 5.0, 6
print(value - value2)

value, value2 = -5, 6.1
print(value - value2)

value, value2 = "Hello ", 'World'
print(value - value2)

value, value2 = [1, 2, 3], [4, 5, 6]
print(value - value2)

value, value2 = (1, 2, 3), (4, 5, 6)
print(value - value2)

value, value2 = { "name" : "Royce" }, { "age" : 2 }
print(value - value2)

-1
11.0
1.0999999999999996
Hello World
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
11
-1.0
-11.1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
value, value2 = 30, 4

print(value*value2)

print(value2**2)

print(value2**3)

print(value*value2+value2**2+1)

print(value/value2)

print(value%value2)

120
16
64
137
7.5
2

Assigning Input Data to a Variable

In [ ]:
name = input("Enter your name ")

weight = float(input("Enter your weight(kg): "))

height = float(input("Enter your height(m): "))

bmi = weight/height**2

print(f"BMI = {round(bmi, 4)}\n")

feet = height * 3.2808399

print(f"Guide: {round(feet, 1)} feet ~ {height} m")

Enter your name John Ray
Enter your weight(kg): 60
Enter your height(m): 1.6764
BMI = 21.3499

Guide: 5.5 feet ~ 1.6764 m

6. Supplementary Activity:
Tasks


1.   Write the Python equivalent code of the following C code:

2.   Write a program that would convert Celsious to Fahrenheit given the formula: F = (C×9/5) + 32

3. Write a program that can determine the distance between two points given the coordinates using the formula: d = sqrt(x2-x1)^2 + (y2-y1)^2

In [ ]:
# 1. Write the Python equivalent of code in the following C code:
base = 0
height = 0
area = 0
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (1/2)*base*height
print("The area of the triangle is", round(area, 2))

Enter the base of the triangle: 4
Enter the height of the triangle: 7
The area of the triangle is 14.0

In [ ]:
# 2. Write a program that would convert Celsius to Fahrenheit given the formula: F = (C × 9/5) + 32
for i in range(2):
  c = int(input("Enter degrees in Celcius: "))
  f = (c * 9/5) + 32
  f = int(f)
  print(f"{c}°C = {f}°F")
  print("")

Enter degrees in Celcius: 0
0°C = 32°F

Enter degrees in Celcius: -20
-20°C = -4°F

In [ ]:
# 3. 3.	Write a program that can determine the distance between
# two points given the coordinates using the formula: d = sqrt(x2-x1)^2 + (y2-y1)^2
x1 = float(input("Enter values for (x1, y1): \nx1 = "))
y1 = float(input("y1 = "))

x2 = float(input("\nEnter values for (x2, y2): \nx2 = "))
y2 = float(input("y2 = "))

d = (((x2 - x1)**2) + ((y2 - y1)**2))**0.5

print(f"\nx1, y1 = ({int(x1)}, {int(y1)}) and x2, y2 = ({int(x2)}, {int(y2)})\nd = {round(d, 9)}")

Enter values for (x1, y1):
x1 = -3
y1 = 3

Enter values for (x2, y2):
x2 = 2
y2 = 2

x1, y1 = (-3, 3) and x2, y2 = (2, 2)
d = 5.099019514

In [ ]:

a = 2**5

print(a)

32