<a href="https://colab.research.google.com/github/Leigh-Hermosura/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:

if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!
y is greater than x

Python Comments

In [ ]:

#This is a comment
print("Hello, world")

Python Variable

In [ ]:

#Variables are containers for storing data values
#Example:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

#Others:
b = "Sally" #This is a type of string

Casting

In [ ]:
b = "Sally" #This is a type of string
print(type(b))
b = int(4)
print(b)

b = float(4)
print(type(b))

<class 'str'>
4
<class 'float'>

Multiple Variables

In [ ]:

x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [ ]:

x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables


*   The python prin is used to output variables and + is used to combine both text and varable

Example:

In [ ]:

x = "enjoying"
print("Python programming is " + x)

Python programming isenjoying

Arithmetic Operations

*   +
*   -
*   *
*   /
*   %
*   asterisk asterisk
*   //

In [ ]:
x = 32
result = x ** 3
print(result)

32768

Bitwise Operator

In [ ]:

#decimal to binary
#10 = 1010

x = 10
print(x)

y = x>>1
print(y)

y = x>>2
print(y)

10
2

Bitwise Operators

In [ ]:
# &   AND   Sets each bit to 1 if both bits are 1
# |   OR    Sets each bit to 1 if one of two bits is 1
# ^   XOR   Sets each bit to 1 if only one of two bits is 1
# ~   NOT   Inverts all the bits

# <<  Zero fill left shift   Shift left by pushing zeros in from the right and let the leftmost bits fall off
# >>  Signed right shift     Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost buts fall off

Application 1

In [ ]:
# HERMPOSURA, LEIGH B
# BSCPE 1-A
# Application 1

print("""Area of 2d shape calculator
0 - Circle
1 - Triangle
2 - Rectangle
""")

choice = int(input("> "))

#calculate the area of a circle
if choice == 0:
  pi = 3.141592653589793
  radius = float(input("\nInput the radius of the circle: "))
  area_circle = pi * radius * radius
  print(f"The area of the circle is {round(area_circle, 2)} units squared!")

#calculate the area of a right triangle
elif choice == 1:
  tbase = float(input("\nInput the base of the triangle: "))
  theight = float(input("Input the height of the triangle: "))
  area_triangle = (tbase * theight) / 2
  print(f"The area of the triangle is {round(area_triangle, 2)} units squared!")

#calculate the area of a rectangle
elif choice == 2:
  rbase = float(input("\nInput the base of the rectangle: "))
  rheight = float(input("Input the height of the rectangle: "))
  area_rectangle = (rbase * rheight)
  print(f"The area of the rectangle is {round(area_rectangle, 2)} units squared!")

Area of 2d shape calculator
0 - Circle
1 - Triangle
2 - Rectangle

> 0

Input the radius of the circle: 24
The area of the circle is 1809.56 units squared!